@model List<PostMarkInbound.Models.PMInboundMessage>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">



@foreach (var msg in Model)
{
    <div class="row">
        <div class="col-md-2">
            @msg.receivedAt.ToString()
        </div>
        <div class="col-md-2">
            @msg.Subject
        </div>
        <div class="col-md-2">
            @msg.TextBody
        </div>
        <div class="col-md-2">
            @msg.From
        </div>
        <div class="col-md-2">
            @msg.MailboxHash
        </div>
        <div class="col-md-2">
            @msg.MessageID
        </div>
    </div>
}
    
</div>